---
- name: Install Prometheus on Ubuntu 24.04
  hosts: all
  become: true
  vars:
    prometheus_version: "2.43.0"
    prometheus_user: prometheus
    prometheus_group: prometheus
    prometheus_config_dir: /etc/prometheus
    prometheus_data_dir: /var/lib/prometheus
    proxy_url: ""  # set if you need a proxy, otherwise leave empty

  tasks:
    - name: Install required packages
      apt:
        name:
          - wget
          - curl
          - tar
          - gzip
          - bzip2
          - xz-utils
          - unzip
          - ca-certificates
        state: present
        update_cache: yes

    - name: Create Prometheus system group
      group:
        name: "{{ prometheus_group }}"
        system: yes
        state: present

    - name: Create Prometheus system user
      user:
        name: "{{ prometheus_user }}"
        group: "{{ prometheus_group }}"
        system: yes
        shell: /usr/sbin/nologin
        create_home: no

    - name: Remove existing Prometheus archive if exists
      file:
        path: "/tmp/prometheus-{{ prometheus_version }}.linux-amd64.tar.gz"
        state: absent

    - name: Download Prometheus
      shell: |
        curl -L {{ " -x " + proxy_url if proxy_url else "" }} \
        https://github.com/prometheus/prometheus/releases/download/v{{ prometheus_version }}/prometheus-{{ prometheus_version }}.linux-amd64.tar.gz \
        -o /tmp/prometheus-{{ prometheus_version }}.linux-amd64.tar.gz
      args:
        creates: "/tmp/prometheus-{{ prometheus_version }}.linux-amd64.tar.gz"

    - name: Extract Prometheus
      unarchive:
        src: "/tmp/prometheus-{{ prometheus_version }}.linux-amd64.tar.gz"
        dest: /tmp
        remote_src: yes

    - name: Create Prometheus directories
      file:
        path: "{{ item }}"
        state: directory
        owner: "{{ prometheus_user }}"
        group: "{{ prometheus_group }}"
        mode: '0755'
      loop:
        - "{{ prometheus_config_dir }}"
        - "{{ prometheus_data_dir }}"

    - name: Copy Prometheus binaries
      copy:
        src: "/tmp/prometheus-{{ prometheus_version }}.linux-amd64/{{ item }}"
        dest: "/usr/local/bin/{{ item }}"
        remote_src: yes
        owner: "{{ prometheus_user }}"
        group: "{{ prometheus_group }}"
        mode: '0755'
      loop:
        - prometheus
        - promtool

    - name: Copy Prometheus consoles and libraries
      copy:
        src: "/tmp/prometheus-{{ prometheus_version }}.linux-amd64/{{ item }}/"
        dest: "{{ prometheus_config_dir }}/{{ item }}/"
        remote_src: yes
        owner: "{{ prometheus_user }}"
        group: "{{ prometheus_group }}"
      loop:
        - consoles
        - console_libraries

    - name: Create Prometheus configuration
      copy:
        dest: "{{ prometheus_config_dir }}/prometheus.yml"
        content: |
          global:
            scrape_interval: 15s
            evaluation_interval: 15s

          scrape_configs:
            - job_name: 'prometheus'
              static_configs:
                - targets: ['localhost:9090']

            - job_name: 'node'
              static_configs:
                - targets: ['localhost:9100']
        owner: "{{ prometheus_user }}"
        group: "{{ prometheus_group }}"
        mode: '0644'

    - name: Create Prometheus systemd service
      copy:
        dest: /etc/systemd/system/prometheus.service
        content: |
          [Unit]
          Description=Prometheus
          Wants=network-online.target
          After=network-online.target

          [Service]
          User={{ prometheus_user }}
          Group={{ prometheus_group }}
          Type=simple
          ExecStart=/usr/local/bin/prometheus \
              --config.file {{ prometheus_config_dir }}/prometheus.yml \
              --storage.tsdb.path {{ prometheus_data_dir }}/ \
              --web.console.templates={{ prometheus_config_dir }}/consoles \
              --web.console.libraries={{ prometheus_config_dir }}/console_libraries

          [Install]
          WantedBy=multi-user.target
        mode: '0644'

    - name: Reload systemd and start Prometheus
      systemd:
        name: prometheus
        state: started
        enabled: yes
        daemon_reload: yes

    - name: Wait for Prometheus to start
      wait_for:
        port: 9090
        timeout: 60

    - name: Cleanup temporary files
      file:
        path: "{{ item }}"
        state: absent
      loop:
        - "/tmp/prometheus-{{ prometheus_version }}.linux-amd64.tar.gz"
        - "/tmp/prometheus-{{ prometheus_version }}.linux-amd64"

